## Cmake build
**/cmake-build-debug

##IDE
.idea
MaximumSubArray/benchmark/CMakeFiles/

MaximumSubArray/benchmark/Benchmark_MaximumInSumArrays

MaximumSubArray/benchmark/Benchmark_MaximumInSumArrays.cbp

MaximumSubArray/benchmark/cmake_install.cmake

MaximumSubArray/benchmark/CMakeCache.txt
